<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75a3bc">  <td>17/12/07 21:39:56</td>   <td>0</td> <td title="&lt;&lt;PopularNews.afterSuit()[pri:0, instance:PopularNews@475530b9]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>17/12/07 21:38:26</td>   <td>-90449</td> <td title="&gt;&gt;PopularNews.beforeSuit()[pri:0, instance:PopularNews@475530b9]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>17/12/07 21:39:43</td>   <td>-13082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PopularNews.newsAuthor()[pri:0, instance:PopularNews@475530b9]">newsAuthor</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>17/12/07 21:39:43</td>   <td>-12643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PopularNews.newsImage()[pri:1, instance:PopularNews@475530b9]">newsImage</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>17/12/07 21:39:53</td>   <td>-2964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PopularNews.newsLinks()[pri:3, instance:PopularNews@475530b9]">newsLinks</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>17/12/07 21:39:44</td>   <td>-12304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PopularNews.newsTitle()[pri:2, instance:PopularNews@475530b9]">newsTitle</td> 
  <td>main@1007603019</td>   <td></td> </tr>
</table>
