<h2>Reporter output</h2><table><tr><td>1 - Lucas Matney<br></td></tr>
<tr><td>2 - Sarah Perez<br></td></tr>
<tr><td>3 - Jon Russell<br></td></tr>
<tr><td>4 - Megan Rose Dickey<br></td></tr>
<tr><td>5 - Matthew Lynley<br></td></tr>
<tr><td>6 - Lucas Matney<br></td></tr>
<tr><td>7 - Megan Rose Dickey<br></td></tr>
<tr><td>8 - Brian Heater<br></td></tr>
<tr><td>9 - Frederic Lardinois<br></td></tr>
<tr><td>10 - Anthony Ha<br></td></tr>
<tr><td>11 - Sarah Perez<br></td></tr>
<tr><td>12 - Danny Crichton<br></td></tr>
<tr><td>13 - Jordan Crook<br></td></tr>
<tr><td>14 - Brian Heater<br></td></tr>
<tr><td>15 - Lucas Matney<br></td></tr>
<tr><td>16 - Jordan Crook<br></td></tr>
<tr><td>17 - Ron Miller<br></td></tr>
<tr><td>18 - Ingrid Lunden<br></td></tr>
<tr><td>19 - John Biggs<br></td></tr>
<tr><td>20 - Katie Roof<br></td></tr>
<tr><td>Verification for Authors has passed!</td></tr>
<tr><td>1 - https://tctechcrunch2011.files.wordpress.com/2017/03/bitcoin-on-gold.png?w=208&h=156&crop=1&quality=85&strip=all<br></td></tr>
<tr><td>2 - https://tctechcrunch2011.files.wordpress.com/2017/12/iphone-camera.png?w=208&h=156&crop=1&quality=85&strip=all<br></td></tr>
<tr><td>3 - https://tctechcrunch2011.files.wordpress.com/2017/09/gettyimages-487080468.jpg?w=208&h=156&crop=1&quality=85&strip=all<br></td></tr>
<tr><td>4 - https://tctechcrunch2011.files.wordpress.com/2017/12/ladies-walking.jpg?w=208&h=156&crop=1&quality=85&strip=all<br></td></tr>
<tr><td>5 - https://tctechcrunch2011.files.wordpress.com/2017/12/gary-johnson1.jpg?w=208&h=156&crop=1&quality=85&strip=all<br></td></tr>
<tr><td>6 - https://tctechcrunch2011.files.wordpress.com/2015/10/microsoft-hololens-01.jpg?w=208&h=156&crop=1&quality=85&strip=all<br></td></tr>
<tr><td>7 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>8 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>News with ID: 1574039 doesn't have an image!<br></td></tr>
<tr><td>10 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>11 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>12 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>13 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>14 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>15 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>16 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>17 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>18 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>News with ID: 1575579 doesn't have an image!<br></td></tr>
<tr><td>20 - https://s0.wp.com/wp-content/themes/vip/techcrunch-2013/assets/images/210x210.png<br></td></tr>
<tr><td>Verification for Images has failed!</td></tr>
<tr><td>PT: The price of Bitcoin has doubled in two weeks, now above $16k<br>CT: The price of Bitcoin has doubled in two weeks, now above $16k<br></td></tr>
<tr><td>PTL: 61<br>CTL: 61<br></td></tr>
<tr><td>Verification for Page & Content Title has passed!</td></tr>
<tr><td>https://status.coinbase.com/<br></td></tr>
<tr><td>http://www.worldcoinindex.com/coin/bitcoin<br></td></tr>
<tr><td>https://www.coindesk.com/price/<br></td></tr>
<tr><td>Total Links on Page: 3<br></td></tr>
<tr><td>OK | https://status.coinbase.com/<br></td></tr>
<tr><td>OK | http://www.worldcoinindex.com/coin/bitcoin<br></td></tr>
<tr><td>OK | https://www.coindesk.com/price/<br></td></tr>
<tr><td>Verification for Page & Content Title has passed!</td></tr>
</table>